body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
    margin: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
header {
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}
img {
    margin: 10px;
    padding: 10px;
    width: 600px;
    height: auto;
}
nav {
    border-radius: 5px;
    text-decoration: none;
    margin: 10px 0;
    padding: 10px;
    padding-bottom: 75px;
    justify-content: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
button {
    background-color: #277924;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
button a {
    color: #ffffff;
    text-decoration: none;
}
button:hover {
    transform: scale(1.1);
}
a {
    color: #000000;
    text-decoration: none;
    transition: transform 0.3s ease;
}
a:hover {
    transform: scale(1.1);
}

#about {
    text-align: left;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.service-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}
.service {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 30%;
    box-sizing: border-box;
}

h2 {
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; /* Fixed height to make it square */
    width: 400px; /* Fixed width to make it square */
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
label {
    margin-bottom: 5px;
}
input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
textarea {
    resize: none;
}
button[type="submit"] {
    background-color: #277924;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button[type="submit"]:hover {
    background-color: #1e5d1a;
}

footer {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    img {
        width: 100%;
        height: auto;
    }
    .service {
        width: 100%;
        margin: 10px 0;
    }
    body {
        font-size: 14px;
    }
    .form {
        width: 100%;
        height: auto;
        padding: 10px;
    }
}
